*.js
!jest.config.js
*.d.ts
node_modules
*.log

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Parcel default cache directory
.parcel-cache

# Typescript output
dist/

bin/aws-accounts.ts
